<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
    <!-- Custom index css -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <!-- Custom navbar and footer css -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/nav-and-footer.css">
    <!-- Custom fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Website icon-->
    

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab:normal%7CRaleway:500%7CRaleway:700%7CRoboto+Slab:300&amp;subset=latin">
    
    <link rel="shortcut icon" href="{{site.baseurl}}/images/gradient.ico" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <title>{{ site.title }}</title>
</head>