{% assign latestPost_year = site.posts.first.date | date: "%Y"  %}
{% assign latestPost_day = site.posts.first.date | date: "%j" | plus: 0  %}
{% assign latestPost_day_minus_week = site.posts.first.date | date: "%j" | minus: 7  %}


{% if site.change-date-bg %}
<div class="card custom_card">
  {% if post.categories %}
  <div class="ribbon"><span>{{post.categories | first}}</span></div>
  {% endif %}
  <div class="row">
    <div class="col-md-2">
      <div class="post-meta"
        style="background: #7687C5;background: -webkit-linear-gradient(to top, #7687C5 , #3F4CE4);background: linear-gradient(to top, #7687C5 , #3F4CE4);">
        <h1 class="date">{{ post.date | date: "%-d" }}</h1>
        <span>{{ post.date | date: "%b" }}</span>
      </div>
    </div>
    <div class="col-md-10 center_col">
      <p class="post-link">{{ post.title | truncate: 40 }}</p>
      <p class="post-excerpt">{{ post.description | strip_html | truncate: 120 }}</p>
    </div>
  </div>
</div>

{% else %}

{% assign postYear = post.date | date: "%Y" %}
{% assign postDay = post.date | date: "%j" | plus: 0 %}

{%- if latestPost_year == postYear and postDay > latestPost_day_minus_week and postDay <= latestPost_day  -%}
<div class="card custom_card" id="newpost">
  {% if post.categories %}
    <div class="ribbon"><span>{{post.categories | first}}</span><span id="tagnew">NEW!</span></div>
    {% endif %}
  <div class="row">
    <div class="col-md-2">
      <div class="post-meta">
        <h1 class="date">{{ post.date | date: "%-d" }}</h1>
        <span>{{ post.date | date: "%b" }}</span>
      </div>
    </div>
    <div class="col-md-10 center_col">
      <p class="post-link">{{ post.title | truncate: 40 }}</p>
      <p class="post-excerpt">{{ post.description | strip_html | truncate: 120 }}</p>
    </div>
  </div>
</div>

{% else %}

<div class="card custom_card">
    {% if post.categories %}
    <div class="ribbon"><span>{{post.categories | first}}</span></div>
    {% endif %}
  <div class="row">
    <div class="col-md-2">
      <div class="post-meta">
        <h1 class="date">{{ post.date | date: "%-d" }}</h1>
        <span>{{ post.date | date: "%b" }}</span>
      </div>
    </div>
    <div class="col-md-10 center_col">
      <p class="post-link">{{ post.title | truncate: 40 }}</p>
      <p class="post-excerpt">{{ post.description | strip_html | truncate: 120 }}</p>
    </div>
  </div>
</div>

{%- endif -%}
{% endif %}


{% if site.change-date-bg %}
<style>
  
</style>
{% endif %}