---
layout: default
---
<!DOCTYPE html>
<html>
    <!-- head -->
{% include head.html %}


<!--Body-->
<body>
    <!--header-->
    {% include header.html %}
    <!-- 
    <div class="jumbotron" id="jumbo1">
        <div class="container">
            <div class="row">
                <div class="col-md-auto">
                    <div class="profile-info-left">
                        <img src="https://github.com/wildercs.png">
                        <h1 style="margin-top: 15px;">{{ site.author.name }}</h1>
                        <hr align="center">
                        <h3>iOS/Android Developer</h1>
                        <h4>Trujillo, Perú</h4>
                    </div>
                </div>
                <div class="col-8">
                    <p>Full time dog dad, part time programmer. Flipping between <span id="swift">Swift</span> and
                        <span id="ruby">Ruby</span>. I like to travel.
                    </p>
                    <p>Summer intern at <a href="https://www.github.com" id="github">GitHub</a>, previously at <a
                            href="#" id="shopify">Android</a>.
                    </p>
                    <p>Apple <a href="#" id="wwdc">WWDC</a> --. </p>
                </div>
            </div>
        </div>
    </div>-->
    <div class="page-content">
        <div class="container">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}

</body>

</html>